(font: (
        size: (
            xs: 0.75,
            sm: 0.875,
            base: 1.0,
            lg: 1.125,
            xl: 1.25,
            x2l: 1.5,
            x3l: 1.875,
            x4l: 2.25,
            x5l: 3.0,
            x6l: 3.75,
            x7l: 4.5,
            x8l: 6.0,
            x9l: 8.0,
        ),
        font_families: (
            default: "fonts/Roboto-Regular.ttf",
            sans: (
                light: "fonts/Roboto-Light.ttf",
                light_italic: "fonts/Roboto-LightItalic.ttf",
                regular: "fonts/Roboto-Regular.ttf",
                regular_italic: "fonts/Roboto-RegularItalic.ttf",
                medium: "fonts/Roboto-Medium.ttf",
                medium_italic: "fonts/Roboto-MediumItalic.ttf",
                bold: "fonts/Roboto-Bold.ttf",
                bold_italic: "fonts/Roboto-BoldItalic.ttf",
            ),
            serif: (
                light: "fonts/NotoSerif-Light.ttf",
                light_italic: "fonts/NotoSerif-LightItalic.ttf",
                regular: "fonts/NotoSerif-Regular.ttf",
                regular_italic: "fonts/NotoSerif-RegularItalic.ttf",
                medium: "fonts/NotoSerif-Medium.ttf",
                medium_italic: "fonts/NotoSerif-MediumItalic.ttf",
                bold: "fonts/NotoSerif-Bold.ttf",
                bold_italic: "fonts/NotoSerif-BoldItalic.ttf",
            ),
            mono: (
                light: "fonts/RobotoMono-Light.ttf",
                light_italic: "fonts/RobotoMono-LightItalic.ttf",
                regular: "fonts/RobotoMono-Regular.ttf",
                regular_italic: "fonts/RobotoMono-RegularItalic.ttf",
                medium: "fonts/RobotoMono-Medium.ttf",
                medium_italic: "fonts/RobotoMono-MediumItalic.ttf",
                bold: "fonts/RobotoMono-Bold.ttf",
                bold_italic: "fonts/RobotoMono-BoldItalic.ttf",
            ),
        ),
    ),)