(
    layout: (
        spacing: 0.25,
        padding: (
            xs: 1.0,
            sm: 2.0,
            base: 3.0,
            lg: 4.0,
            xl: 5.0,
            x2l: 6.0,
            x3l: 7.0,
            x4l: 8.0,
            x5l: 9.0,
        ),
        margin: (
            xs: 1.0,
            sm: 2.0,
            base: 3.0,
            lg: 4.0,
            xl: 5.0,
            x2l: 6.0,
            x3l: 7.0,
            x4l: 8.0,
            x5l: 9.0,
        ),
        gap: (
            xs: 1.0,
            sm: 2.0,
            base: 3.0,
            lg: 4.0,
            xl: 5.0,
            x2l: 6.0,
            x3l: 7.0,
            x4l: 8.0,
            x5l: 9.0,
        ),
        radius: (
            xs: 0.03125,
            sm: 0.0625,
            base: 0.09375,
            lg: 0.125,
            xl: 0.1875,
            x2l: 0.25,
            x3l: 0.375,
            x4l: 0.5,
            full: 340282350000000000000000000000000000000.0,
        ),
        border: (
            xs: 1.0,
            sm: 2.0,
            base: 3.0,
            lg: 5.0,
            xl: 7.0,
            x2l: 9.0,
            x3l: 12.0,
            x4l: 15.0,
            x5l: 19.0,
        ),
    )
)